@font-face {
    font-family: 'Futura New Book';
    src: local('Futura New Book Reg'), local('Futura-New-Book-Reg'),
        url('FuturaNewBook-Reg.woff2') format('woff2'),
        url('FuturaNewBook-Reg.woff') format('woff'),
        url('FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Bold';
    src: local('Futura New Bold Reg'), local('Futura-New-Bold-Reg'),
        url('FuturaNewBold-Reg.woff2') format('woff2'),
        url('FuturaNewBold-Reg.woff') format('woff'),
        url('FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Medium';
    src: local('Futura New Medium Reg'), local('Futura-New-Medium-Reg'),
        url('FuturaNewMedium-Reg.woff2') format('woff2'),
        url('FuturaNewMedium-Reg.woff') format('woff'),
        url('FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura New Demi';
    src: local('Futura New Demi Reg'), local('Futura-New-Demi-Reg'),
        url('FuturaNewDemi-Reg.woff2') format('woff2'),
        url('FuturaNewDemi-Reg.woff') format('woff'),
        url('FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SchoolBook';
    src: url('ofont.ru_SchoolBook.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SchoolBook Cyrillic';
    src: url('schoolbook-cyrillic.ttf');
    font-weight: 200;
    font-style: normal;
}